@import "tailwindcss";

body {
    background: linear-gradient(135deg, #0f172a, #1e293b, #334155, #0f172a);
    color: #FFFFFF;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Recipe card */ 
.card {
 width: 100%;
 height: 100%;
 border-radius: 30px;
 background: #0b1221;
 box-shadow: 5px 5px 15px rgb(25, 25, 25);
 border-bottom-left-radius: 2px;
 border-bottom-right-radius: 10px;
 border-bottom: 1px solid #FFD230;
}

.aboutBox {
 border-radius: 8px;
 background: linear-gradient(to right, #0F172B, #1C283C);
 box-shadow: 5px 5px 15px #10182B;
 border-bottom-right-radius: 15px;
 border-bottom: 2px solid #44546C;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #64748b #1e293b;
}



